.squares {
  padding: 1 px;
  background-color: beige;
}

#container {
  display: grid;
  width: 480px;
  height: 480px;
  margin: auto;
  grid-gap: 1px;
  border-color: blue;
}

.hover {
  background-color: black;
}

body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
}
